name: Build macOS App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install pyinstaller
          pip install -r requirements.txt

      - name: Build macOS app
        run: |
          pyinstaller --onefile main.py

      - name: Install create-dmg
        run: |
          brew install create-dmg

      - name: Create DMG
        run: |
          create-dmg \
            --volname "mac_app" \
            --window-size 600 400 \
            --app-drop-link 300 200 \
            dist/mac_app.dmg \
            dist/main.app


      - name: Upload DMG
        uses: actions/upload-artifact@v4
        with:
          name: macOS-DMG
          path: dist/*.dmg
